// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #000000;
 
// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-instadash {
 
  background-color: $background-color;
 
  .photo-container {
    display: none;
  }
  img{
    width: 350px;
    height: 350px;
  }
  h4{color:#efefef;font-weight:normal;padding-top:5px; font-size:16px; text-transform:uppercase}
 
}