 
<script type='text/javascript'>
$(function() {
//Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
});
</script>

<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
 
  Dashing.widget_base_dimensions = [350, 350]
  Dashing.numColumns = 5
});
</script>


<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Image"  data-image="/assets/logo.png"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="klimato" data-view="Klimato" data-location="Lisboa"></div>
    </li>  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="instadash" data-view="Instadash"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="the_time" data-view="Clock"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-moreinfo="Tweets sobre coworklisboa"></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="startup_quote" data-view="Image" data-title="Startup quote">
      </div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="publico" data-view="News" data-moreinfo="<i>fonte: </i> Jornal Público" data-interval="60"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Coworklisboalx"  data-moreinfo="<i>Likes</i>"></div>
      <i class="icon-facebook icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github" data-view="Text" data-title="Para saber mais..." data-text="<img src='/assets/code.png' height='150px'/>" data-moreinfo="github.com/psousa/coworklisboa"></div>

    </li>
    

  </ul>
   
  <!-- <center><div style="font-size: 12px">Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' \http://<%=request.host%>:<%=request.port%>/widgets/welcome</div></center>
 -->

</div>
